
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.username %>!</h1>
    <p>
      This is to remind you to work on your <%= @resolution.name %> resolution
      <br />
    </p>
    <% if @resolution.goals.blank? %>
    <p>
      Looks like your resolution is incomplete but you don't have any active goals.
      Go make some for your '<%= @resolution.name %>' resolution or mark it as complete.
    </p>
    <% else %>
    <p>
      I need to add the other reminder edge cases. But this is good for now :)
    </p>
    <% end %>
    <p>Thanks for using the app and have a great day!</p>
  </body>
</html>
