<div class="ui secondary  menu">
  <%= link_to 'Home', authenticated_root_path, class: 'active item' %>

  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input placeholder="Search..." type="text">
        <i class="search link icon"></i>
      </div>
    </div>
    <%= link_to current_user.username, current_user, class: 'ui item' %>
    <%= link_to('Logout', destroy_user_session_path, method: :get, class: 'ui item') %>
  </div>
</div>
